<script type="text/javascript">
		$(function () {
			// 计算购物车总价和总数函数
			function fnCalculateCart() {
				let totalPrice = 0, totalCount = 0;
				// 获取选中的每行ul
				$(':checked').parents('.cart_list_td').each(function () {
					// 获取每行中的小计和数量
					// 从页面获取的都是string类型, 要做运算时, 都要转换成对应类型再计算
					let $tempPrice = $(this).children('.col07').html();
					let $tempCount = $(this).find('.num_show').val();
					totalPrice += parseFloat($tempPrice);	// 可以将字符串中的数字提取出来, 自动去掉 `元`
					totalCount += parseInt($tempCount);
				});
				// 设置总价和总数
				$('.settlements em').html(totalPrice);
				$('.settlements b').html(totalCount);
				$('.total_count em').html(totalCount);
			}

			// 设置全选/全不选
			$('.settlements :checkbox').change(function () {
				// 获取全选按钮的选中状态
				let $is_checked = $(this).prop('checked');
				// 设置每行的选中状态
				$('.cart_list_td :checkbox').prop('checked', $is_checked);
				fnCalculateCart();
			});

			// 根据商品的选中改变全选的状态
			// 使用jquery更改.prop不会触发.change事件
			$('.cart_list_td :checkbox').change(function () {
				// 获取总行数, 总选中行数
				let $totalRows = $('.cart_list_td').length;
				let $selectedRows = $('.cart_list_td :checked').length;
				let $mainBox = $('.settlements :checkbox');
				if ($totalRows > $selectedRows) {
					$mainBox.prop('checked', "");
				} else {
					$mainBox.prop('checked', "checked");
				}
				fnCalculateCart();
			});

			// 添加商品数量
			$('.add').click(function () {
				// 获取.add同行的input
				let $numberInput = $(this).next();
				let $newNumber = parseInt($numberInput.val()) + 1;
				// 更新购物车中数据
				$.ajax({
					url: "/user/updateCart",
					type: "POST",
					data: {
						skuId: $numberInput.attr("data-id"),
						count: $newNumber
					},
					dataType: "json",
					success: data => {
						if (data.result === "200") {
							// 更新一行的数量
							$numberInput.val($newNumber);
							// 更新一行的小计
							let $price = $(this).parents('ul').children('.col05').html();
							$price = parseFloat($price).toFixed(2);
							$(this).parents('ul').children('.col07').html($price * $newNumber + '元');
							// 更新总价 -- 只有这行选中时, 增加数量才更新总价
							let $isChecked = $(this).parents('ul').find(':checkbox').prop('checked');
							// 通过prop('checked')获取时是bool类型, 设置时设置字符串""或"checked"
							if ($isChecked) {
								fnCalculateCart();
							}
						}
					},
					error: function (error) {
						console.log(error);
					}
				});
			});

			// 减少商品数量
			$('.minus').click(function () {
				let $numberInput = $(this).prev();
				let $newNumber = parseInt($numberInput.val()) - 1;
				if (1 > $newNumber) {
					$newNumber = 1;
					$numberInput.val($newNumber);
					return;
				}
				$.ajax({
					url: "/user/updateCart",
					type: "post",
					data: {
						skuId: $numberInput.attr("data-id"),
						count: $newNumber
					},
					dataType: "json",
					success: data => {
						if (data.result === "200") {
							$numberInput.val($newNumber);
							let $price = $(this).parents('ul').children('.col05').html();
							$price = parseFloat($price);
							$(this).parents('ul').children('.col07').html(($price * $newNumber).toFixed(2) + '元');
							let $isChecked = $(this).parents('ul').find(':checkbox').prop('checked');
							if ($isChecked) {
								fnCalculateCart();
							}
						}
					},
					error: error => {
						console.log(error);
					}
				});

			});

			// 手动输入商品数量
			let iPreNumber = 0; // 在输入框获得焦点时, 记录其原始值
			$('.num_show').focus(function () {
				iPreNumber = parseInt($(this).val());
			});
			$('.num_show').blur(function () {
				let $inputNumber = $(this).val();
				if (isNaN($inputNumber) || $inputNumber.trim().length === 0 || 1 > parseInt($inputNumber)) {
					$inputNumber = iPreNumber;
					$(this).val($inputNumber);
					return;
				}

				$inputNumber = parseInt($inputNumber);
				$.ajax({
					url:"/user/updateCart",
					type:"post",
					data:{
						skuId:$(this).attr("data-id"),
						count:$inputNumber
					},
					dataType:"json",
					success: data => {
						if (data.result === "200") {
							let $price = $(this).parents('.col06').prev().html();
							$price = parseFloat($price);
							$(this).parents('.col06').next().html(($price * $inputNumber).toFixed(2) + '元');
							let $isChecked = $(this).parents('ul').find(':checkbox').prop('checked');
							if ($isChecked) {
								fnCalculateCart();
							}
						}
					},
					error: error => {
						console.log(error);
					}
				});
			});

			// 删除商品
			$('.col08 a').click(function () {
				if (!confirm("确定删除该商品?")) {
					return false;
				}

				// 1.删除redis中对应field
				$.ajax({
					url: "/user/deleteCart",
					type: "post",
					data: {
						skuId: $(this).attr("data-id")
					},
					dataType: "json",
					success: data => {
						if (data.result === "200") {
							// 2. 删除这一行元素
							$(this).parents('ul').remove();
							let $isChecked = $(this).parents('ul').find(':checkbox').prop('checked');
							// 根据是否选中来更新总价
							if ($isChecked) {
								fnCalculateCart();
							}
						}
					},
					error: error => {
						console.log(error);
					}
				});
			});

			// 购物车结算操作
			// form提交数据时, 只会提交选中了的checkbox的value值. 不选中的不会提交
			// 因此在购物车页面获取选中商品结算生成订单, 使用form包裹商品列表
			// form只会提交有name的input元素的值
			// *form提交时, 相同name的值会合并成数组提交*
			$('.settlements a').click(function () {
				// 提交form
				$('.actionForm').submit();
			});
		});
	</script>

<div class="total_count">全部商品<em>{{.totalCount}}</em>件</div>
<ul class="cart_list_th clearfix">
	<li class="col01">商品名称</li>
	<li class="col02">商品单位</li>
	<li class="col03">商品价格</li>
	<li class="col04">数量</li>
	<li class="col05">小计</li>
	<li class="col06">操作</li>
</ul>
<form class="actionForm" action="/user/placeOrder" method="post">
	{{range .cartContents}}
		<ul class="cart_list_td clearfix">
			<li class="col01"><input type="checkbox" name="skuId" value="{{.goods.Id}}" checked></li>
			<li class="col02"><img src="http://192.168.3.99:8888/{{.goods.GoodsImg}}"></li>
			<li class="col03">{{.goods.Name}}<br><em>{{.goods.Price}}元/{{.goods.GoodsUnit}}</em></li>
			<li class="col04">{{.goods.GoodsUnit}}</li>
			<li class="col05">{{.goods.Price}}元</li>
			<li class="col06">
				<div class="num_add">
					<a href="javascript:;" class="add fl">+</a>
					<input type="text" class="num_show fl" data-id="{{.goods.Id}}" value="{{.count}}">
					<a href="javascript:;" class="minus fl">-</a>
				</div>
			</li>
			<li class="col07">{{.rowPrice}}元</li>
			<li class="col08"><a href="javascript:;" data-id="{{.goods.Id}}">删除</a></li>
		</ul>
	{{end}}
</form>

<ul class="settlements">
	<li class="col01"><input type="checkbox" name="" checked></li>
	<li class="col02">全选</li>
	<li class="col03">合计(不含运费)：<span>¥</span><em>{{.totalPrice}}</em><br>共计<b>{{.totalCount}}</b>件商品</li>
	<li class="col04"><a href="javascript:;">去结算</a></li>
</ul>