<div class="breadcrumb">
	<a href="#">全部分类</a>
	<span>></span>
	<a href="#">{{.typeInfo.Name}}</a>
</div>

<div class="main_wrap clearfix">
	<div class="l_wrap fl clearfix">
		<div class="new_goods">
			<h3>新品推荐</h3>
			<ul>
				{{range .newGoods}}
					<li>
						<a href="/goodsDetail?id={{.Id}}"><img src="http://192.168.3.99:8888/{{.GoodsImg}}"></a>
						<h4><a href="/goodsDetail?id={{.Id}}">{{.Name}}</a></h4>
						<div class="prize">￥{{.Price}}</div>
					</li>
				{{end}}
			</ul>
		</div>
	</div>

	<div class="r_wrap fr clearfix">
		<div class="sort_bar">
			<a href="/goodsList?typeId={{.typeInfo.Id}}" {{if compare .currentSort ""}} class="active" {{end}}>默认</a>
			<a href="/goodsList?typeId={{.typeInfo.Id}}&sort=price" {{if compare .currentSort "price"}} class="active" {{end}}>价格</a>
			<a href="/goodsList?typeId={{.typeInfo.Id}}&sort=sales" {{if compare .currentSort "sales"}} class="active" {{end}}>人气</a>
		</div>

		<ul class="goods_type_list clearfix">
			{{range .goods}}
				<li>
					<a href="/goodsDetail?id={{.Id}}"><img src="http://192.168.3.99:8888/{{.GoodsImg}}"></a>
					<h4><a href="/goodsDetail?id={{.Id}}">{{.Name}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{.Price}}</span>
						<span class="unit">{{.Price}}/{{.GoodsUnit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
			{{end}}
		</ul>

		<div class="pagenation">
			<a href="/goodsList?typeId={{.typeInfo.Id}}&currentPage={{.prePage}}&sort={{.currentSort}}">&lt;上一页</a>
			{{range .pages}}
				<a href="/goodsList?typeId={{$.typeInfo.Id}}&currentPage={{.}}&sort={{$.currentSort}}" {{if compare $.currentPage .}} class="active" {{end}}>{{.}}</a>
			{{end}}
			<a href="/goodsList?typeId={{.typeInfo.Id}}&currentPage={{.nextPage}}&sort={{.currentSort}}">下一页&gt;</a>
		</div>
	</div>
</div>
